/*----------- collingarythomasgrasley (modetwentythree.com) collingrasley@gmail.com --- public domain template, because sharing is good ------- no link back required, but it would be real swell :) --------------------*/

/* -----------------  page styles -------------------------------------------------------*/

body { padding:0; margin:0; font:11px Verdana, sans-serif; line-height: 17px; background:#f4f4f4 url(images//bodybg.gif) center repeat-y; color: #555; }
#wrapper { margin:2px auto; width:900px;  padding:0; background:#fff;}

/* -----------------  general styles  -------------------------------------------------------*/

a { color:#631e19; text-decoration: underline;background:none; }
a:hover { color:#894e4e; background:none; text-decoration:underline; }
p { margin:0;padding-top:2px;}
h2 { font-weight:bold; font-size:12px; padding:0px 0 4px 0px; margin: 0 0 2px 0; color:#444; background:none; border-bottom: 2px dotted #444; }
ul { margin: 0; padding : 0; list-style : none; }
img { border: 0;}
h4 {font: 30px 'HelveticaNeue-CondensedBold', 'Arial Narrow', Helvetica, Arial, sans-serif; margin:0;}
.pic{margin-top:8px;}
/* -----------------  top info  -------------------------------------------------------*/

#header { clear:both; width:900px; height:80px; background: url(images//header.jpg) no-repeat; 
margin:0; }
#title {float:left; width:240px; padding: 20px 0 10px 0px;}
#title h1 {font-size:12px; padding:5px 0 0 0; margin:0; color:#444;}
#hright {float:right; width:540px; height: 60px; margin:15px 0 0 0;}
#primary {margin: 0 2px 0 0; padding: 0 8px 2px 0; float:right; text-align: right;}
#title p {font-size: 0.9em; color: #808080; padding: 0; background: inherit;}
#secondary {float:right; margin:2px 0 0 0; padding:0; text-align:right;}
#secondary li { display:inline; }
#secondary li a {  color:#444; text-decoration:none; padding:1px 10px 1px 10px;
height:19px; background:none;}
#secondary li a:hover { background: none;color:#631e19;} 

/* ----------------- Main content -------------------------------------------------------*/

#homepic {width:900px; height:250px; margin:5px 0 10px 0;background: url(images//homepic.jpg) no-repeat;}
#homepic a {color:#fff;}
#homepic:hover {background: url(images//homepichover.jpg) no-repeat;}
.message{ position:absolute;  width:360px; float:left; margin:70px 0px 0px 165px; color:#fff;}
#bottomcontenttop{width:900px;height:10px;background: url(images//b_contenttop.jpg) no-repeat;}
#bottomcontent{width:898px; border-right:1px solid #c5c5c5;border-left:1px solid #c5c5c5;}
#bottomcontentbtm{width:900px;height:10px;background: url(images//b_contentbtm.jpg) no-repeat;}
/*
#sidebar-left {float: right;width: 270px;margin: 0 6px 5px 0; padding:10px;}
#main {float: right;width: 270px;margin: 0 6px 5px 0; padding:10px;}
#sidebar-right {float: right;width: 270px;margin: 0 6px 5px 0; padding:10px;}
*/
.thumbs img{position:relative;padding:1px;margin:5px 8px 5px 9px;border:2px solid #631e19;background:none;}
.thumbs img:hover{border:2px solid #c5c5c5; background:none;}

/* ----------------- Bottom content -------------------------------------------------------*/

#footer { clear: both; text-align:center; line-height: 1.8em; color: #444; background: #fff; padding: 4px 0; 
margin:10px 0 0 0;}
#footer a {color: #631e19; background: inherit;}


/* -----  additional ----- */

.node {
	margin-bottom: 20px;
}

.content {
	margin-bottom: 10px;
}

h1.title { font-weight:bold; font-size:12px; padding:0px 0 4px 0px; margin: 0 0 2px 0; color:#444; background:none; border-bottom: 2px dotted #444; }

#header img {
	float: left;
	margin-right: 20px;
}

#main {
	float: left;
	width: 100%;
	padding-top:10px;
}

body.sidebar-left #main {
	margin-left: -300px;
}
body.sidebar-left #main #squeeze {
	margin-left: 300px;
}

body.sidebar-right #main {
	margin-right: -300px;
}
body.sidebar-right #main #squeeze {
	margin-right: 300px;
}

body.both-sidebars #main {
	margin: 0 -300px;
}
body.both-sidebars #squeeze {
	margin: 0 300px;
}

#squeeze {
	position: relative;
	padding: 0 1em;
}

#container .sidebar {
	margin:0pt 6px 5px 0pt;
	padding:10px;
	width: 270px;
	float: left;
	z-index: 2;
	position: relative;
	overflow: hidden;
}

.post-date {
	width: 45px;
	height: 40px;
	float:left;
	background: url(images/date-bg.png) repeat-x;
	margin: 0px 10px 2px 0px;
	padding: 2px 0px;
}
.post-year, 
.post-month {
	font-size: 0.7em;
	text-transform: uppercase;
	color: #999999;
	text-align: center;
	display:block;
	line-height: 1.1em;
	padding-top: 2px;
}
.post-day {
	text-transform: uppercase;
	color: #999999;
	text-align: center;
	display:block;
	line-height: 0.7em;
	padding-top: 7px;
}

.post-calendar {
	line-height: 4em;
	font-size: 0.9em;
	color: #999999;
}